{% extends 'base_hero.html.twig' %}

{% block title %}Catalogue Du Service{% endblock %}

{% block title_hero %}Catalogue{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/template.css">
{% endblock %}


{% block body %}

    <div class="container mt-4">
        <div class="section-title text-center title-ex1">
            <h1 class="text-center" id="title_templates">Catalogue</h1>
            <p>Choisisez la template qui vous convient</p>
        </div>
        <hr>
        <div class="row mt-5" id="templates">
            {% for template in templates %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 shadow-lg mb-3 template_card">
                    <div class="iCard iCard-shadow border1 p-2 rounded bg-white h-100  text-center"> 
                        <a href="{{ path('template_show', {'template':template.id}) }}"> 
                            <img src="{{ asset('images/uploads/template/' ~ template.image) }}"  class="img-fluid"  alt="{{  template.name }}" title="{{  template.description }}"> 
                        </a>
                        <div class="iCard-content p-1 pt-15 pb-15">
                            <p class="fs15 text-dark font400 mb-5 text-capitalize"> {{  template.name }}</p>
                            <div class="pt-15 b-t text-right">
                                <div class="row align-items-center">
                                    <div class="col-12"> 
                                        <a href="{{ path('template_show', {'template':template.id}) }}" class="btn btn-gradient-light btn-icon btn-icon-right btn-sm"> 
                                            <i class="fa fa-arrow-right"></i>
                                            View
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav class="mt-5 mb-5" aria-label="pagination_templates">
            <ul class="pagination pagination-lg justify-content-center">
            </ul>
        </nav>
    </div>


    <script src="/script/pagination_template.js"></script>



{% endblock %}
