{% extends 'base_vide.html.twig' %}

{% block title %}Creation De Commande{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/steps.css">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="body_step shadow-lg p-3 mb-5 bg-light rounded">
            <div class="header-step">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="step step_active shadow-lg p-3 mb-5 rounded">
                                <h4>Commande Effectué</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <div class="container_step">
                <h1 class="text-center">commande effectuée avec succes</h1>
                <h3>Commande effectuée le <span style="color: rgb(76, 165, 197)">{{ commande.getCreatedAt|date('Y-m-d ; H:i') }}</span></h3>
                <h3 style="color: rgb(130, 127, 127)">Details</h3>
                <div class="row">
                    <div class="col-4">
                        <h5>Nom : </h5>
                    </div>
                    <div class="col-8">
                        <p>{{ commande.getClientLastname()}}</p>
                    </div>
                    <div class="col-4">
                        <h5>Prenom : </h5>
                    </div>
                    <div class="col-8">
                        <p>{{ commande.getClientFirstname()}}</p>
                    </div>
                    <div class="col-4">
                        <h5>Email : </h5>
                    </div>
                    <div class="col-8">
                        <p>{{ commande.email}}</p>
                    </div>
                    <div class="col-4">
                        <h5>Téléphone : </h5>
                    </div>
                    <div class="col-8">
                        <p>{{ commande.phone}}</p>
                    </div>
                    <div class="col-4">
                        <h5>Description : </h5>
                    </div>
                    <div class="col-8">
                        <p>{{ commande.description}}</p>
                    </div>
                    <div class="col-4">
                        <h5>avec hebergement : </h5>
                    </div>
                    <div class="col-8">
                        <p>
                            {% if commande.getWithHost == 1 %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-4">
                        <h5>maitenance : </h5>
                    </div>
                    <div class="col-8">
                        <p>
                        {% if commande.getWithMaintenance == 1 %}
                            2 mois
                        {% else %}
                            2 semaine
                        {% endif %}
                        </p>
                    </div>
                    <div class="col-4">
                        <h5>avec newsletter : </h5>
                    </div>
                    <div class="col-8">
                        <p>
                            {% if commande.getWithNewsletter == 1 %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-4">
                        <h4>Total : </h4>
                    </div>
                    <div class="col-8">
                        <p>
                            {{ total }} DH
                        </p>
                    </div>
                </div>
                <p>Nous vous contacterons dans les 24 heurs qui suivent pour la finalisation de la commande</p>
                
                <a href="{{ path('commande_annuler', {'commande':commande.id}) }}" class="btn btn-danger">
                    <i class="fas fa-window-close"></i>
                    Annuler
                </a>
                <a href="{{ path('commande_creation1edit', {'commande':commande.id}) }}" class="btn btn-danger">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>
                <a href="{{ path('home') }}" class="btn btn-primary float-right">Retour a la page d'acceuil</a>
            </div>
        </div>
        
    </div>

    


{% endblock %}


{% block javascripts %}
    <script src="/script/jquery.steps.min.js"></script>
{% endblock %}