{% extends 'base_admin.html.twig' %}

{% block title %}Admin DashBoard{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Template</li>
{% endblock %}


{% block body %}


    <div class="card mb-4 mt-5">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Liste des templates
            <a href="{{ path('admin_addTemplate') }}" class="btn btn-primary float-right">
                <i class="fas fa-plus"></i>
                Ajouter une template
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Previsualisation</th>
                            <th>Serivce</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Previsualisation</th>
                            <th>Serivce</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for template in templates %}
                            <tr>
                                <td>{{ template.name }}</td>
                                <td>{{ template.getPreviewUrl }}</td>
                                <td>{{ template.service.name }}</td>
                                <td>
                                    <a href="{{ path('admin_editTemplate', {'template':template.id}) }}" class="btn btn-warning">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_removeTemplate', {'template':template.id}) }}" class="btn btn-danger" onclick="return confirm('etes vous sure?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

{% endblock %}
