{% extends 'base_admin.html.twig' %}

{% block title %}Admin DashBoard{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Commande</li>
{% endblock %}


{% block body %}

    
    <div class="card mb-4 mt-5">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Liste des commandes
            <a href="{{ path('admin_annulerCommande_nonTerminer') }}" class="btn btn-primary float-right">
                <i class="far fa-trash-alt"></i>
                Annuler les commande non terminé
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nom et prenom</th>
                            <th>Téléphone</th>
                            <th>Email</th>
                            <th>Template</th>
                            <th>Etat</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nom et prenom</th>
                            <th>Téléphone</th>
                            <th>Email</th>
                            <th>Template</th>
                            <th>Etat</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for commande in commandes %}
                            <tr>
                                <td>{{ commande.getClientLastname ~ " " ~ commande.getClientFirstname }}</td>
                                <td>{{ commande.phone }}</td>
                                <td>{{ commande.email }}</td>
                                <td>{{ commande.template.name }}</td>
                                <td>{{ commande.stat }}</td>
                                <td>{{ commande.getCreatedAt|date('Y-m-d ; H:i') }}</td>
                                <td>
                                    <a href="{{ path('admin_show_commande', {'commande':commande.id}) }}" class="btn btn-primary">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_validerCommande', {'commande':commande.id}) }}" class="btn btn-success">
                                        <i class="fas fa-check"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_annulerCommande', {'commande':commande.id}) }}" class="btn btn-danger" onclick="return confirm('etes vous sure?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

{% endblock %}
