{% extends 'base_admin.html.twig' %}

{% block title %}Admin DashBoard{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Contact</li>
    <li class="breadcrumb-item active">Voir</li>
{% endblock %}


{% block body %}


    <div class="card mb-4 mt-5">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
                Contact N* {{ contact.id }}
            <a href="{{ path('admin_contacts') }}" class="btn btn-primary float-right">
                <i class="far fa-trash-alt"></i>
                Retour
            </a>
        </div>
        <div class="card-body">
            <style>
                .details_contact
                {   
                    text-align: justify;
                    font-size: 1.1em;
                }
                .details_contact div
                {
                    margin-bottom: 20px;
                }
            </style>
            <h3>Contact envoyés le <span style="color: rgb(76, 165, 197)">{{ contact.getCreatedAt|date('Y-m-d ; H:i') }}</span></h3>
            <div class="row details_contact mt-4">

                <div class="col-4">
                    <h4>Nom : </h4>
                </div>
                <div class="col-8">
                    <p>{{ contact.lastname }}</p>
                </div>
                <div class="col-4">
                    <h4>Prenom : </h4>
                </div>
                <div class="col-8">
                    <p>{{ contact.firstname }}</p>
                </div>
                <div class="col-4">
                    <h4>Email : </h4>
                </div>
                <div class="col-8">
                    {{ contact.email }}
                </div>
                <div class="col-4">
                    <h4>Objet : </h4> 
                </div>
                <div class="col-8">
                    <p>{{ contact.subject }}</p>
                </div>
                <div class="col-4">
                    <h4>Message : </h4> 
                </div>
                <div class="col-8">
                    <p>{{ contact.message }}</p>
                </div>

            </div>
        </div>
    </div>
    

{% endblock %}
